body {
	background-color: #cbf7c7;
	font-family: "Raleway", Sans-serif;
	font-size: 62.5%;
	margin: 0;
}

#container {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;

}
.square {
	width: 30%;
	background-color: rgb(89, 255, 125);
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
} 

h1 {
	color: rgb(40, 134, 48);
	background-color: #cbf7c7;
	font-size: 3.5em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
}

#color-display {
	display: block;
	font-size: 2em;
}

#result-message {
	display: block;
	font-size: 1em;
}

#stripe {
	background: rgb(89, 255, 125);
	height: 30px;
	text-align: center;
	color: black;
}

#without {
	text-transform: uppercase;
	font-size: 1.5em;
	display: inline-block;
	width: 20%;
}

button {
	outline: none;
	color: #157512;
	font-family: "Raleway", Sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	background-color: #ffffff;
	height: 100%;
	letter-spacing: 1px;
	transition: all 0.3s;
	border-radius: 12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

button:hover {
	background-color: #fffd81;
	color: #157512;
}

.selected {
	background-color: #fffd81;
	color: #157512;
}

.square {
	border-radius: 20%;
}

* {
	border: 0px solid red;
}