* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

h1 {
    color: rgb(18, 231, 107);
    text-align: center;
    margin-top: 50px;
  }

#computer {
    text-align: center;
}

#rsp {
    margin-top: 30px;
    text-align: center;
}

#result {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

#img {
    margin-top: 50px;
    text-align: center;
    width: 100px;
    height: 100px;
}